* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #144;
    perspective: 600px;
}

:root {
    --main-color: #f1b601;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Dancing Script, cursive;
}

.font {
    font-family: Roboto, sans-serif;
}

.font-2 {
    font-family: "Poppins", sans-serif;
}

span.text {
    position: relative;
    z-index: 3;
}

.title h4 {
    color: var(--main-color);
} 

.title .line {
    display: flex;
    justify-content: center;
}

.title .line::before,
.title .line::after {
    content: "";
    display: block;
    width: 5%;
    height: 2px;
    background-color: #fff;
    align-self: center;
}

textarea {
    resize: none;
    height: 250px;
}